html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

html {
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,700,700i,800,800i&display=swap');

@mixin font($fontSize, $fontColor, $fontWeight) {
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
}

@mixin size($sizeWidth, $sizeHeight, $bgColor) {
    width: $sizeWidth;
    height: $sizeHeight;
    background-color: $bgColor;
}

@mixin position_part {
    display: flex;
    justify-content: center;
    align-items: center;    
}
@mixin mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    box-sizing: border-box;
}

.nameOFpart {
    font-family: Montserrat;
    @include font(1.8rem, #fff, 700);
    margin-bottom: 35px;
    span {
        @include font(1.8rem, #f70135, 700);
    }
}
.textABOUTpart {
    font-family: 'Open+Sans';
    @include font(0.9rem, #fff, 400);
    line-height: 1.4rem;
    width: 40vw;
    text-align: center;
}
.prev, .next,
.prevMedium, .nextMedium  {
    cursor: pointer;
    @include font(2rem, #fff, 700);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .nameOFpart {
        text-align: center;
    }
    .textABOUTpart {
        width: 80vw;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .nameOFpart {
        margin-bottom: 15px;
    }
}

// style for header

.header {
    width: 100%;
    height: 1000px;
    background-image: url(../assets/img/headerBg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 120px 880px;
    &_part_one {
        @include position_part();
    }
    &_part_two {
        @include position_part();
        justify-content: space-around;
    }
}
.header {
    &_menuLeft, &_menuRight {
        width: 33vw;
        @include position_part();
        justify-content: space-between;
        a {
            @include font(0.8rem, #fff, 700);
            font-family: Montserrat;
        }
    }
    &_menuCenter {
        width: 87px;
        height: 120px;
        background-image: url(../assets/img/STUDIO.png);
        background-position: center;
        background-size: cover;
        margin: 0 25px;
    }
}
.header {
    .headerMenu {
        display: none;
    }
    .headerMenuBlock {
        display: block;
    }
}
.header {
    .title {
        text-align: center;
        align-self: flex-end;
    }
    .titleOne {
        font-family: Raleway;
        @include font(1rem, #fff, 400);
        text-transform: uppercase;
        margin: 0 0 20px;
    }
    .titleTwo {
        @include font(3rem, #fff, 700);
        font-family: Montserrat;
        text-transform: uppercase;
        width: 25vw;
        margin: 0 0 250px;
    }
    img {
        width: 30vw;
        height: auto;
        align-self: flex-end;
    }
}
.header {
    .goToEnd {
        height: 50px;
        background-image: url(../assets/img/go.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 30px;
        margin: 0 0 50px;
        font-family: Raleway;
        @include font (1rem, #fff, 400);
    }
}
.header {
    .header_part_one_mobile {
        display: none;
    }
}

// MOBILE style for header

@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .header {
    height: 900px;
    grid-template-rows: 120px 780px;
    }
}
@media screen and (min-width: 1250px) and (max-width: 1300px) {
    .header {
    height: 800px;
    grid-template-rows: 120px 680px;
        .titleTwo {
            margin-bottom: 180px;
            @include font(2.2rem, #fff, 700);
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1250px) {
    .header {
    height: 700px;
    grid-template-rows: 120px 580px;
        .titleTwo {
            margin-bottom: 120px;
            @include font(2.2rem, #fff, 700);
        }
        &_menuLeft, &_menuRight {
            width: 36vw;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 700px;
        grid-template-rows: 120px 580px;
    }
    .header {
        .titleTwo {
            @include font(2.5rem, #fff, 700);
            width: 50vw;
            margin: 0 0 150px;
        }
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .header {
        height: 700px;
        grid-template-rows: 120px 580px;
    }
    .header {
        .titleTwo {
            @include font(2.5rem, #fff, 700);
            width: 80vw;
            margin: 0 0 130px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .header {
        height: 570px;
        grid-template-rows: 120px 450px;
    }
    .header {
        .titleTwo {
            @include font(2em, #fff, 700);
            width: 90vw;
            margin: 0 0 80px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .header {
        .header_part_one {
            display: none;
        }
        img {
            display: none;
        }
    }
    .header {
        .header_part_one_mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 120px;
        }
        .headerMenuMobile {
            display: none;
            width: 30vw;
            text-align: center;
            a {
                @include font(2rem, #fff, 700);
                font-family: Montserrat;
            }
        }
        .header_menuCenterMobile {
            width: 87px;
            height: 120px;
            background-image: url(../assets/img/STUDIO.png);
            background-position: center;
            background-size: cover;
            margin: 0 2.5vw;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        .headerMenuMobile {
            a {
                @include font(1.5rem, #fff, 700);
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .header {
        .header_part_one_mobile {
            padding-right: 5vw;
            box-sizing: border-box;
        }
        .headerMenuMobile {
            width: 50vw;
        }
        .header_menuCenterMobile_Display {
            display: none;
        }
    }
}

// style for about

.about {
    @include size(100%, 550px, #2c3e50);
    display: grid;
    grid-template-rows: 180px 370px;
    font-family: Montserrat;
    &_part_one {
        @include font(1.1rem, #fff, 600);
        line-height: 2.2rem;
        @include position_part();
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }
    &_part_two {
        display: flex;
        justify-content: center;
    }
}
.about {
    &_part_one {
        span {
            color: #ffce45;
        }
    }
}
.about {
    &_part_col {
        display: none;
        grid-template-rows: 130px 100px 140px;
        width: 10vw;
    }
    &_part_col__margin {
        margin-right: 2vw;
    }
    .picture_part, .name_part {
        @include font(1rem, #fff, 500);
        @include position_part();
        text-align: center;
    }
    .text_part {
        @include font(0.8rem, #879cb0, 400);
        font-family: 'Open+Sans';
        line-height: 1.2rem;
        text-align: center;
    }
}
.about {
    .about_part_col {
        .picture_part {
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .about_part_col_one {
        .picture_part {
            background-image: url(../assets/img/about_col_one.png);
        }
    }
    .about_part_col_two {
        .picture_part {
            background-image: url(../assets/img/about_col_two.png);
        }
    }
    .about_part_col_three {
        .picture_part {
            background-image: url(../assets/img/about_col_three.png);
        }
    }
    .about_part_col_four {
        .picture_part {
            background-image: url(../assets/img/about_col_four.png);
        }
    }
    .about_part_col_five {
        .picture_part {
            background-image: url(../assets/img/about_col_five.png);
        }
    }
}
.about {
    .about_part_col__Animaton {
        display: grid;
    }
}
.about {
    &_part_twoMobile, &_part_twoMobileMedium {
        display: none;
    }
}

// MOBILE style for about

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .about {
        height: 550px;
        grid-template-rows: 150px 400px;
        &_part_col {
            width: 15vw;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about {
        height: 600px;
        grid-template-rows: 200px 400px;
        &_part_one {
            text-align: center;
            width: 90vw;
            margin-left: 5vw;
            line-height: 2rem;
            padding-bottom: 20px;
        }
        &_part_col {
            width: 18vw;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .about {
        height: 590px;
        grid-template-rows: 220px 370px;
        &_part_one {
            @include font(1rem, #fff, 600);
            line-height: 1.8rem;
            padding-bottom: 20px;
            text-align: center;
            padding: 0 5vw;
            box-sizing: border-box;
        }
        &_part_two {
            display: none;
        }
    }    
    .about {
        &_part_colMobile, &_part_colMobileMedium {
            width: 27vw;
            display: none;
        }
        &_part_col__margin {
            margin: 0;
        }
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .about {
        &_part_twoMobileMedium {
            width: 100%;
            @include mobile();            
        }
        .prev, .next {
            display: none;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .about {
        height: 600px;
        grid-template-rows: 230px 370px;
        &_part_one {
            @include font(0.9rem, #fff, 600);
            line-height: 1.6rem;
        }
        &_part_twoMobile {
            width: 100%;
            @include mobile();
        }
    }    
    .about {
        &_part_colMobile {
            width: 40vw;
        }
        .prevMedium, .nextMedium {
            display: none;
        }
    }
}

// style for rocket

.rocket {
    width: 100%;
    background-color: #2c3e50;
    display: grid;
    grid-template-rows: 250px 99.6vw 22vw;
    &_part_one {
        @include position_part();
        flex-direction: column;
        span {
            color: #ffce45;
        }
    }
    &_part_two {
        @include position_part();
        flex-direction: column;
        justify-content: flex-start;
    }
    &_part_three {
        @include position_part();
        align-items: flex-end;
    }
}
.rocket {
    &Row {
        width: 58vw;
        height: 20vw;
        @include position_part();
        justify-content: space-between;
        &One {
            width: 30vw;
            height: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &Three {
            width: 20vw;
            height: 20vw;
        }
    }
}
.rocket {
    .titlePartRocket {
        width: max-content;
        font-family: Montserrat;
        @include font(0.75rem, #fff, 600);
        padding: 6px;
        background-color: #121212;
        border-radius: 4px;
    }
    .categoryPartRocket {
        font-family: Montserrat;
        @include font(1.1rem, #fff, 500);
        line-height: 1.5rem;
    }
    .textPartRocket {
        font-family: 'Open+Sans';
        @include font(0.8rem, #879cb0, 400);
        line-height: 1.1rem;
        text-align: justify;
    }
    .buttonPartRocket button {
        font-family: 'Open+Sans';
        @include font(0.75rem, #2c3e50, 600);
        padding: 10px;
        border: none;
        background-color: #fff;
        border-radius: 4px;
    }
}
.rocket {
    &Row_BgYellow {
        .titlePartRocket {
            background-color: #ffce45;
        }
    }
    &Row_BgBlue {
        flex-direction: row-reverse;
        .titlePartRocket {
            background-color: #49a0ae;
        }
    }
    &Row_BgGreen {
        .titlePartRocket {
            background-color: #22c48a;
        }
    }
}
.rocket {
    &YellowPoints {
        height: 5vw;
        width: 39.8vw;
        background-image: url(../assets/img/yellowPoint.png);
        background-size: cover;
        &Rotate {
            transform: rotateX(180deg);
        }
    }    
    &YellowPointsMini {
        height: 5vw;
        width: 20vw;
        margin-left: 19.2vw;
        background-image: url(../assets/img/yellowPointMini.png);
        background-size: cover;
    }
    &YellowPointsEnd {
        height: 10.1vw;
        width: 20.2vw;
        margin-left: 18.5vw;
        background-image: url(../assets/img/yellowPointEnd.png);
        background-size: cover;
    }
}
.rocket {
    .rocketCircle {
        background-size: cover;
        width: 20vw;
        height: 20vw;
        @include position_part();
    }
    &Row_BgYellow {
        .rocketCircle {
            background-image: url(../assets/img/orangePoint.png);
        }
    }
    &Row_BgBlue {
        .rocketCircle {
            background-image: url(../assets/img/bluePoint.png);
        }
    }
    &Row_BgGreen {
        .rocketCircle {
            background-image: url(../assets/img/greenPoint.png);
        }
    }
    &Foto {
        @include size(17vw, 17vw, #fff);
        border-radius: 50%;
    }
}
.rocket {
    .rocketPicture {
        width: 10vw;
        height: 10vw;
        position: relative;
        background-size: cover;
    }
    &Row_BgYellow {
        .rocketPicture {
            background-image: url(../assets/img/yellowrocket.png);
            left: 5vw;
        }
    }
    &Row_BgBlue {
        .rocketPicture {
            background-image: url(../assets/img/bluerocket.png);
            right: 5vw;
        }
    }
    &Row_BgGreen {
        .rocketPicture {
            background-image: url(../assets/img/greenrocket.png);
            left: 5vw;
        }
    }
}
.rocket {
    &Start {
        height: 11vw;
        width: 3.4vw;
        background-size: cover;
        background-image: url(../assets/img/ROCKET.png);
    }
    &End {
        background-image: url(../assets/img/arrow.png);
        height: 3.5vw;
        width: 3.5vw;
        background-size: cover;
    }
}
.rocket {
    &Browser {
        width: 32vw;
        height: 20vw;
        background-size: cover;
        position: relative;
    }
    &BrowserOne {
        background-image: url(../assets/img/browserOne.jpg);
        z-index: 30;
        left: 32vw;
    }
    &BrowserTwo {
        background-image: url(../assets/img/browserTwo.png);
        z-index: 20;
        right: 15vw;
    }
    &BrowserThree {
        background-image: url(../assets/img/browserThree.png);
        z-index: 10;
        right: 20vw;
    }
}
.rocket {
    &_part_twoMobile {
        display: none;
    }
}

// // MOBILE style for rocket

@media screen and (min-width: 1350px) and (max-width: 1500px) {
    .rocket {
        &Row {
            width: 60vw;
        }    
    }
}
@media screen and (min-width: 1024px) and (max-width: 1349px) {
    .rocket {
        grid-template-rows: 250px 114.6vw 22vw;
        &Row {
            width: 70vw;
            height: 25vw;
            &One {
                width: 35vw;
                height: 25vw;
            }
            &Three {
                width: 25vw;
                height: 25vw;
            }
        }
        .rocketCircle {
            width: 25vw;
            height: 25vw;
        }
        &Foto {
            width: 22vw;
            height: 22vw;
        }
        .categoryPartRocket {
            @include font(0.85rem, #fff, 500);
            line-height: 1.2rem;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .rocket {
        grid-template-rows: 250px 147.6vw 30vw;
    }
    .rocket {
        &Row {
            width: 90vw;
            height: 30vw;
            &One {
                width: 50vw;
                height: 30vw;
            }
            &Three {
                width: 30vw;
                height: 30vw;
            }
        }
    }
    .rocket {
        .titlePartRocket {
            padding: 4px;
            border-radius: 2px;
        }
        .categoryPartRocket {
            @include font(0.9rem, #fff, 500);
            line-height: 1.2rem;
        }
        .textPartRocket {
            @include font(0.7rem, #879cb0, 400);
            line-height: 1rem;
        }
        .buttonPartRocket button {
            padding: 7px;
            border-radius: 3px;
        }
    }
    .rocket {
        &YellowPoints {
            height: 7.5vw;
            width: 60vw;
        }    
        &YellowPointsMini {
            height: 7.5vw;
            width: 30vw;
            margin-left: 29.2vw;
        }
        &YellowPointsEnd {
            height: 15vw;
            width: 30vw;
            margin-left: 27.5vw;
        }
    }
    .rocket {
        .rocketCircle {
            width: 30vw;
            height: 30vw;
        }
        &Foto {
            width: 25vw;
            height: 25vw;
        }
    }
    .rocket {
        &Start {
            height: 15vw;
            width: 4.6vw;
        }
        &End {
            height: 5vw;
            width: 5vw;
        }
    }
    .rocket {
        &Browser {
            width: 45vw;
            height: 28vw;
            position: absolute;
        }
        &BrowserOne {
            left: 25.5vw;
        }
        &BrowserTwo {
            left: 10vw;
        }
        &BrowserThree {
            left: 41vw;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .rocket {
        &_part_two {
            display: none;
        }
        &_part_three {
            display: none;
        }
    }
    .rocket {
        &_part_twoMobile {
            @include position_part();
        }
        &Row {
            width: 60vw;
            height: 70vw;
            margin: 0 10vw;
            &One {
                width: 60vw;
                height: 70vw;
                justify-content: space-between;
            }
    }
}
    .rocket {
        grid-template-rows: 250px 70vw;
    }
}
@media screen and (min-width: 630px) and (max-width: 767px) {
    .rocket {
        &Row {
            width: 60vw;
            height: 52vw;
            &One {
                width: 60vw;
                height: 52vw;
            }
    }
}
    .rocket {
        grid-template-rows: 250px 52vw;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .rocket {
        &Row {
            width: 75vw;
            height: 120vw;
            margin: 0 3vw;
            &One {
                width: 80vw;
                height: 120vw;
                justify-content: space-between;
            }
    }
    .categoryPartRocket {
        @include font(0.9rem, #fff, 500);
        line-height: 1.2rem;
    }
}
    .rocket {
        grid-template-rows: 250px 120vw;
    }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
    .rocket {
        &Row {
            height: 80vw;
            &One {
                height: 80vw;
            }
    }
}
    .rocket {
        grid-template-rows: 250px 80vw;
    }
}

// style for work

.work {
    width: 100%;
    background-color: #2c3e50;
    display: grid;
    grid-template-rows: 250px 48vw;
    &_part_one {
        @include position_part();
        flex-direction: column;
    }
    &_part_two {
        display: grid;
        grid-template-rows: repeat(5, 8vw);
    }
}
.work {
    .workRow {
        @include position_part();
        font-family: 'Open+Sans';
    }
    .work__Animaton {
        flex-direction: row-reverse;
    }
    .number {
        @include font(3.5rem, #fff, 700);
        width: 8vw;
        @include position_part();
        justify-content: flex-end;
    }
    .titleOfWork {
        @include font(1.2rem, #fff, 400);
        font-family: Montserrat;
        width: 15vw;
        @include position_part();
    }
    .workPicture {
        width: 8vw;
        height: 8vw;
        margin: 0 1.5vw;
        background-size: cover;
    }
    .textWork {
        @include font(0.8rem, #879cb0, 400);
        line-height: 1rem;
        text-align: justify;
        width: 23vw;
        @include position_part();
    }
}
.work {
    .workRowOne {
        .number, .titleOfWork {
            color: #f70135;
        }
        .workPicture {
            background-image: url(../assets/img/pencil.png);
            margin-left: 0.7vw;
        }
    }
    .workRowTwo {
        .number, .titleOfWork {
            color: #ffce45;
        }
        .number {
            justify-content: flex-start;
        }
        .workPicture {
            background-image: url(../assets/img/mouse.png);
            margin-right: 0.7vw;
        }
    }
    .workRowThree {
        .number, .titleOfWork {
            color: #08b250;
        }
        .workPicture {
            background-image: url(../assets/img/html.png);
            margin-left: 0.7vw;
        }
    }
    .workRowFour {
        .number, .titleOfWork {
            color: #098ce5;
        }
        .number {
            justify-content: flex-start;
        }
        .workPicture {
            background-image: url(../assets/img/browser.png);
            margin-right: 0.7vw;
        }
    }
    .workRowFive {
        .number, .titleOfWork {
            color: #9a22cd;
        }
        .workPicture {
            background-image: url(../assets/img/plane.png);
            margin-left: 0.7vw;
        }
    }
}
.work {
    .picture_rotate {
        transform: rotateX(180deg);
    }
}
.work {
    &_part_twoMobile {
        display: none;
    }
}

// MOBILE style for work

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .work {
        grid-template-rows: 250px 58vw;
        &_part_two {
            display: grid;
            grid-template-rows: repeat(5, 10vw);
        }
    }
    .work {
        .number {
            width: 10vw;
        }
        .titleOfWork {
            width: 20vw;
        }
        .workPicture {
            width: 10vw;
            height: 10vw;
        }
        .textWork {
            width: 30vw;
        }
    }
    .work {
        .workRowOne {
            .workPicture {
                margin-left: 0;
            }
        }
        .workRowTwo {
            .workPicture {
                margin-right: 0.8vw;
            }
        }
        .workRowThree {
            .workPicture {
                margin-left: 0;
            }
        }
        .workRowFour {
            .workPicture {
                margin-right: 0.8vw;
            }
        }
        .workRowFive {
            .workPicture {
                margin-left: 0;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .work {
        grid-template-rows: 250px 83vw;
        &_part_two {
            grid-template-rows: repeat(5, 15vw);
        }
    }
    .work {
        .number {
            width: 13vw;
        }
        .titleOfWork {
            width: 22vw;
        }
        .workPicture {
            width: 15vw;
            height: 15vw;
        }
        .textWork {
            width: 35vw;
        }
    }
    .work {
        .workRowOne {
            .workPicture {
                margin-left: 0;
            }
        }
        .workRowTwo {
            .workPicture {
                margin-right: 0;
            }
        }
        .workRowThree {
            .workPicture {
                margin-left: 0;
            }
        }
        .workRowFour {
            .workPicture {
                margin-right: 0vw;
            }
        }
        .workRowFive {
            .workPicture {
                margin-left: 0;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .work {
        grid-template-rows: 250px 33vw;
        &_part_two {
            display: none;
        }
        &_part_twoMobile {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .workRow {
            display: block;
        }
        .workRowMobile {
            display: grid;
            width: 60vw;
            grid-template-areas:
            "a b c"
            "d d d";
        }
    }
    .work {
        .number {
            @include font(3.5rem, #fff, 700);
            width: 12.5vw;
            grid-area: a;
            justify-content: flex-start;
        }
        .titleOfWork {
            @include font(1.2rem, #fff, 400);
            width: 30vw;
            grid-area: b;
        }
        .workPicture {
            width: 12.5vw;
            height: 12.5vw;
            margin: 0;
            grid-area: c;
        }
        .textWork {
            margin: 2vw 0 0;
            @include font(0.8rem, #879cb0, 400);
            line-height: 1rem;
            width: 60vw;
            grid-area: d;
        }
    }
    .work {
        .workRowOne {
            .workPicture {
                margin-left: 0;
            }
        }
        .workRowTwo {
            .workPicture {
                margin-right: 0;
                transform: rotateY(180deg);
            }
        }
        .workRowThree {
            .workPicture {
                margin-left: 0;
            }
        }
        .workRowFour {
            .workPicture {
                margin-right: 0;
                transform: rotateY(180deg);
            }
        }
        .workRowFive {
            .workPicture {
                margin-left: 0;
            }
        }
    }
}
@media screen and (min-width: 480px) and (max-width: 579px) {
    .work {
        grid-template-rows: 250px 46vw;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .work {
        grid-template-rows: 250px 70vw;
        .workRowMobile {
            width: 80vw;
        }
    }
    .work {
        .number {
            width: 20vw;
        }
        .titleOfWork {
            width: 40vw;
        }
        .workPicture {
            width: 20vw;
            height: 20vw;
        }
        .textWork {
            width: 80vw;
        }
    }
}
@media screen and (min-width: 400px) and (max-width: 479px) {
    .work {
        grid-template-rows: 250px 50vw;
    }
}

// style for fact

.fact {
    @include size(100%, 522px, #ffce45);
    display: grid;
    grid-template-rows: 250px 270px;
    &_part_one {
        @include position_part();
        flex-direction: column;
    }
    &_part_two {
        @include position_part();
        align-items: flex-start;
    }
}
.fact {
    &__col {
        @include size(11vw, 270px, #fff);
        display: grid;
        grid-template-rows: 75px 75px 120px;
        text-align: center;
        display: none;
        font-family: Montserrat;
    }
    .fact__Anim {
        display: grid;
    }
    &_name_part {
        @include position_part();
        align-items: flex-end;
        @include font(2rem, #fff, 700);
    }
    &_text_part {
        @include position_part();
        @include font(0.7rem, #fff, 400);
        font-family: 'Open+Sans';
        line-height: 1rem;
    }
    &_picture_part {
        @include position_part();
        align-items: flex-start;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.fact {
    &__col_red {
        background-color: #f70135;
        .fact_picrure_part {
            background-image: url(../assets/img/mac.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__col_dark-blue {
        background-color: #2c3e50;
        .fact_picrure_part {
            background-image: url(../assets/img/tie.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__col_green {
        background-color: #08b250;
        .fact_picrure_part {
            background-image: url(../assets/img/case.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__col_blue {
        background-color: #098ce5;
        .fact_picrure_part {
            background-image: url(../assets/img/trophy.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__col_violet {
        background-color: #9a22cd;
        .fact_picrure_part {
            background-image: url(../assets/img/tea.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
.fact {
    &_part_twoMobile, &_part_twoMobileMedium {
        display: none;
    }
}

// MOBILE style for fact

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .fact {
        &__col {
            width: 14vw;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .fact {
        &__col {
            width: 17.5vw;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .fact {
        &_part_two {
            display: none;
        }
    }
    .fact {
        &__col_mobile, &__col_mobileMedium {
            display: none;
            width: 30vw;
        }
    }
    .fact {
        .prev, .next,
        .prevMedium, .nextMedium {
            cursor: pointer;
            @include font(2rem, #fff, 700);
        }        
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .fact {
        &_part_twoMobileMedium {
            width: 100%;
            @include mobile();
        }
        .prev, .next {
            display: none;
        }
        .slidesFactMediumLast {
            display: none;
        }
        &_part_twoMobile {
            justify-content: center;
        }
        .prevMedium {
            margin-right: 10vw;
        }
        .nextMedium {
            margin-left: 10vw;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .fact {
        &_part_twoMobile {
            width: 100%;
            @include mobile();
        }
        &__col_mobile {
            width: 50vw;
        }
        .prevMedium, .nextMedium {
            display: none;
        }
    }
}

// style for people

.people {
    @include size(100%, 1675px, #ffce45);
    display: grid;
    grid-template-rows: 250px 1380px 45px;
    &_part_one {
        @include position_part();
        flex-direction: column;
        span {
            color: #f70135;
        }
    }
    &_part_two {
        @include position_part();
        align-items: flex-start;
    }
    &_part_three {
        @include position_part();
        align-items: flex-start;
    }
}
.people {
    &_column_one, &_column_three {
        height: 1380px;
        @include position_part();
        flex-direction: column;
        padding: 260px 0 90px 0;
        box-sizing: border-box;
        justify-content: space-between;
    }
    &_column_three{
        padding: 200px 0 150px 0;
    }
    &_column_two {
        width: 6vw;
        height: 1380px;
        @include position_part();
        flex-direction: column;
    }
}
.people {
    &__all {
        width: 25vw;
        height: 235px;
        display: flex;
        background-size: cover;
        padding: 20px;
        box-sizing: border-box;
    }
    &__partFoto {
        width: 10vw;
        height: 195px;
    }
    &__partAbout {
        width: 15vw;
        height: 195px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__author {
        @include font (0.9rem, #2c3e50, 600);
        font-family: Montserrat;
        @include position_part();
        justify-content: flex-start;
    }
    &__category {
        @include font(0.7rem, #ff5c26, 700);
        font-family: 'Open+Sans';
        @include position_part();
        justify-content: flex-start;
    }
    &__text {
        @include font(0.75rem, #879cb0, 400);
        font-family: 'Open+Sans';
        line-height: 1rem;
        @include position_part();
        text-align: justify;
    }
}
.people {
    &__link {
        @include position_part();
        justify-content: space-between;
    }
    &__link>div {
        width: 1.5vw;
        height: 1.5vw;
        background-size: cover;
        background-position: center;
    }
    .twitterLogo {
        background-image: url(../assets/img/twitterLogo.svg);
    }
    .facebookLogo {
        background-image: url(../assets/img/facebookLogo.svg);
    }
    .googleLogo {
        background-image: url(../assets/img/googleLogo.svg);
    }
    .pinterestLogo {
        background-image: url(../assets/img/pinterestLogo.svg);
    }
    .linkedinLogo {
        background-image: url(../assets/img/linkedinLogo.svg);
    }
    .dribbbleLogo {
        background-image: url(../assets/img/dribbbleLogo.svg);
    }
    .behanceLogo {
        background-image: url(../assets/img/behanceLogo.svg);
    }
}
.people {
    &_column_one{
        .people__all {
            background-image: url(../assets/img/peopleLeft.png);
            background-position-x: right;
            padding-right: 40px;
        }
    }
}
.people {
    &_column_three{
        .people__all {
            background-image: url(../assets/img/peopleRight.png);
            flex-direction: row-reverse;
            padding-left: 40px;
        }
    }
}
.people {
    &__clother {
        background-image: url(../assets/img/people.png);
        height: 163px;
        width: 128px;
        background-size: cover;
    }
    &__line {
        background-image: url(../assets/img/line.svg);
        height: 1217px;
        background-size: cover;
    }
    &__circle {
        background-image: url(../assets/img/circle.svg);
        height: 20px;
        width: 20px;
        background-size: cover;
        &_marginOne {
            margin: 57px 0 0;
        }
        &_marginTwo {
            margin: 38px 0 0;
        }
        &_marginThree {
            margin: 187px 0 0;
        }
    }
}
.people {
    &_part_three {
        button {
            @include font(0.7rem, #fff, 400);
            @include size(150px, 40px, #f70135);
            font-family: Montserrat;
            border: none;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }
    &_column_threeMobile {
        display: none;
    }
}

// MOBILE style for people
@media screen and (min-width: 1024px) and (max-width: 1500px) {
    .people {
        &__all {
            width: 32vw;
        }
        &__partFoto {
            width: 12vw;
        }
        &__partAbout {
            width: 20vw;
        }
        &__link>div {
            width: 2vw;
            height: 2vw;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .people {
        &__all {
            width: 40vw;
        }
        &__partFoto {
            width: 16vw;
        }
        &__partAbout {
            width: 24vw;
        }
        &__link>div {
            width: 2vw;
            height: 2vw;
        }
        &__circle {
            height: 25px;
            width: 25px;
            &_marginOne {
                margin: 57px 0 0;
            }
            &_marginTwo {
                margin: 30px 0 0;
            }
            &_marginThree {
                margin: 185px 0 0;
            }
        }
        &__text {
            line-height: 0.8rem;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .people {
        height: 575px;
        grid-template-rows: 250px 250px 75px;
        &_column_three {
            .people__all {
                width: 65vw;
                background-image: url(../assets/img/peopleRightColor.png);
                background-size: cover;
                margin: 0 8vw;
            }
        }
        &__partFoto {
            width: 25vw;
        }
        &__partAbout {
            width: 40vw;
        }
        &_column_one {
            display: none;
        }
        &_column_two {
            display: none;
        }
        &_column_three {
            display: none;
        }
        &_column_threeMobile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 0;
            height: 250px;
        }
        &__link>div {
            width: 4vw;
            height: 4vw;
        }
    }
    .people {
        &_part_three {
            @include position_part();
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .people {
        height: 575px;
        grid-template-rows: 250px 250px 75px;
        &_column_three {
            .people__all {
                width: 75vw;
                margin: 0 4vw;
                padding: 10px;
            }
        }
        &__all {
            @include position_part();
            flex-direction: column;       
        }
        &__partFoto {
            width: 29vw;
        }
        &__partAbout {
            width: 46vw;
        }
        &__link>div {
            width: 5vw;
            height: 5vw;
        }
    }
}

// style for featured projects

.featuredProject {
    width: 100%;
    background-color: #ffce45;
    display: grid;
    grid-template-rows: 250px 120px 30vw 130px;
    &_part_one {
        @include position_part();
        flex-direction: column;
    }
    &_part_two {
        @include position_part();
        font-family: Montserrat;
    }
    &_part_three {
        @include position_part();
        flex-direction: column;
    }
    &_part_four {
        @include position_part();
        background-color: #f70135;
        font-family: Montserrat;
    }
}
.featuredProjectClickOne {
    grid-template-rows: 250px 120px 45vw 130px;
}
.featuredProjectClickTwo {
    grid-template-rows: 250px 120px 60vw 130px;
}
.featuredProject {
    &_part_two, &_part_twoMobile, &_part_twoMobileMedium {
        button {
            padding: 20px 30px;
            background-color: #fff;
            @include font(0.7rem, #ffce45, 600);
            border: none;
            box-sizing: border-box;
        }
        &__margin_right {
            margin-right: 1.5vw;
        }
    }
    &_part_twoMobile, &_part_twoMobileMedium {
        display: none;
    }
}
.featuredProject {
    &_part_four{
        button {
        padding: 20px 80px;
        border: none;
        border-radius: 3px;
        @include font(0.8rem, #fff, 600);
        background-color: #ffce45;
        margin: 0 2vw;
        box-sizing: border-box;
        }
    }
}
.featuredProject {
    .featuredProject_part_three_RowOne {
        display: flex;
        width: 100%;
        height: 15vw;
    }
    .picturefeaturedProject {
        border: 2px solid rgb(255, 255, 255);
        box-sizing: border-box;
        width: 20%;
        height: 15vw;
        background-size: cover;
        background-position: center;
    }
}
.featuredProject {
    .featuredProject_loadMore {
        display: none;
    }
    .buttonHidden {
        display: none;
    }
    .prev, .next,
    .prevMedium, .nextMedium {
        display: none;
    }
    &_part_threeMobile, &_part_threeMobileMedium {
        display: none;
    }
}

// MOBILE style for featured projects

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .featuredProject {
        button {
            padding: 10px 18px;
        }
        &_part_four{
            button {
            padding: 20px 40px;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .featuredProject {
        grid-template-rows: 250px 120px 30vw;
        &_part_twoMobileMedium {
            display: flex;
        }
        &_part_two {
            display: none;
        }
        .prevMedium, .nextMedium {
            display: block;
        }
        .prevMedium {
            margin-right: 5vw;
        }
        .nextMedium {
            margin-left: 5vw;
        }
        .featuredProject_hiddenMobile {
            display: none;
        }
        &_part_twoMobile, &_part_twoMobileMedium {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                width: 40%;
                padding: 20px 0;
                margin: 0 1vw;
            }
        }
        &_part_two__margin_right {
            margin: 0;
        }
        &_part_three_RowOneMobile {
            justify-content: space-around;
        }
        &_part_three {
            display: none;
        }
        &_part_threeMobileMedium {
            @include position_part();
        }
        .picturefeaturedProjectMobile, .picturefeaturedProjectMobileMedium {
            width: 40%;
            height: 30vw;
        }
        &_part_four {
            display: none;
        }
        &_part_twoMobile {
            display: none;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .featuredProject {
        &_part_threeMobileMedium {
            display: none;
        }
        &_part_threeMobile {
            @include position_part();
        }
        .prev, .next {
            display: block;
        }
        &_part_twoMobileMedium {
            display: none;
        }
        &_part_twoMobile {
            display: flex;
        }
        .prevMedium, .nextMedium {
            display: none;
        }
        &_part_twoMobile {
            justify-content: space-around;
            button {
                margin: 0;
            }
        }
        &_part_threeMobile {
            justify-content: space-around;
        }
        .prevMedium {
            margin-right: 0;
        }
        .nextMedium {
            margin-left: 0;
        }
    }
}

// style for price

.price {
    @include size(100%, 1080px, #f70135);
    display: grid;
    grid-template-rows: 250px 830px;
    .nameOFpart span {
        color: #ffce45;
    }
    &_part_one {
        @include position_part();
        flex-direction: column;
    }
    &_part_two {
        @include position_part();
    }
}
.price {
    .fullColumn {
        @include size(18vw, 715px, #fff);
        @include font(0.8rem, #fff, 400);
        line-height: 1.1rem;
        font-family: 'Open+Sans';
        display: grid;
        grid-template-rows: 325px 390px;
        text-align: center;
        &_margin {
            margin: 0 2vw;
        }
    }
}
.price {
    .fullColumn__top {
        @include position_part();
        justify-content: space-between;
        flex-direction: column;
        padding: 50px 1vw 40px;
        box-sizing: border-box;
        &_bgColorYellow {
            background-color: #ffce45;
        }
        &_bgColorDarkblue {
            background-color: #2c3e50;
        }
        &_bgColorGreen {
            background-color: #08b250;
        }
    }
        .fullColumn__priceCoast {
            height: 80px;
            @include position_part();
            flex-direction: column;
            justify-content: space-between;
        }
        .fullColumn__Number {
            @include font(2rem, #fff, 400);
            font-family: Arvo;
            span {
                @include font(4rem, #fff, 600);
                font-family: Raleway;
            }
        }
        .fullColumn__priceTitle {
            @include font (0.9rem, #fff, 600);
            font-family: Montserrat;
        }
}
.price {
    .fullColumn__down {
        @include position_part();
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0 35px;
        box-sizing: border-box;
    }
    .fullColumn__features {
            @include font(0.8rem, #333333, 700);
            font-family: Montserrat;
        }
    .fullColumn__priceInclude {
            color: #777777;
            line-height: 1.3rem;
        }
    .fullColumn__button {
            button {
                padding: 15px 20px;
                @include font (0.7rem, #fff, 600);
                font-family: Montserrat;
                border: none;
            }
            &_bgColorYellow {
                button {
                background-color: #ffce45;
                }
            }
            &_bgColorDarkblue {
                button {
                background-color: #f70135;
                }
            }
            &_bgColorGreen {
                button {
                background-color: #08b250;
                }
            }
        }
}
.price {
    &_part_twoMedium {
        display: none;
    }
}
// MOBILE style for price

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .price {
        .fullColumn {
            width: 25vw;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .price {
        .fullColumn {
            width: 28vw;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {    
    .price {
        &_part_two {
            display: none;
        }
        &_part_twoMedium {
            @include position_part();
            justify-content: space-around;
        }
    }
    .price {
        .fullColumn {
            width: 50vw;
            &_margin {
                margin: 0;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .price {
        .fullColumn {
            width: 70vw;
            &_margin {
                margin: 0;
            }
        }
    }
}

// style for blog

.blog {
    width: 100%;
    background-color: #f70135;
    display: grid;
    grid-template-rows: 250px 55vw;
    &_part_one {
        @include position_part();
        flex-direction: column;
        span {
            color: #ffce45;
        }
    }
    &_part_two {
        @include position_part();
        justify-content: space-between;
        flex-direction: column;
    }
}
.blog {
    &Row {
        @include size(51vw, 17vw, #fff);
        @include position_part();
        font-family: Montserrat;
        &__partLeft {
            @include size(25vw, 17vw, #dddddd);
        }
        &__partRight {
            @include size(26vw, 17vw, #fff);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 2vw;
            box-sizing: border-box;
        }
        &__date {
                @include font(0.7rem, #f70135, 400);
                display: flex;
                align-items: flex-end;
            }
        &__title {
                @include font(0.9rem, #121212, 600);
                display: flex;
                align-items: center;
            }
        &__text {
                @include font(0.75rem, #505050, 400);
                font-family: 'Open+Sans';
                display: flex;
                align-items: center;
                text-align: justify;
                line-height: 1rem;
            }
        &__statistics {
                @include font(0.75rem, #444444, 600);
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 22vw;
            }
        &__author {
                    @include font(0.6rem, #fff, 400);
                    width: 4vw;
                    padding: 5px 0;
                    background-color: #f70135;
                    text-transform: uppercase;
                    text-align: center;
            }
    }
}
.blog {
    &Row {
        &__category, &__likes, &__comments {
            background-repeat: no-repeat;
            padding-left: 20px;
            background-position-y: center;
            width: 4vw;
            box-sizing: border-box;
        }
        &__category {
            background-image: url(../assets/img/folder.svg);
        }
        &__likes {
            background-image: url(../assets/img/likes.svg);
        }
        &__comments {
            background-image: url(../assets/img/comments.svg);
        }
    } 
}
.blog {
     &_part_twoMobile {
        display: none;
    }
}

// MOBILE style for blog

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .blog {
        grid-template-rows: 250px 70vw;
        &Row {
            width: 68vw;
            height: 22vw;
            &__partLeft {
                width: 33vw;
                height: 22vw;
            }
            &__partRight {
                width: 35vw;
                height: 22vw;
            }
            &__category, &__likes, &__comments, &__author {
                width: 5vw;
            }
            &__statistics {
                width: 29vw;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .blog {
        grid-template-rows: 250px 80vw;
        &Row {
            width: 77vw;
            height: 25vw;
            &__partLeft {
                width: 37vw;
                height: 25vw;
            }
            &__partRight {
                width: 40vw;
                height: 25vw;
            }
            &__category, &__likes, &__comments, &__author {
                width: 6vw;
            }
            &__statistics {
                width: 32vw;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .blog {
        &_part_two {
            display: none;
        }
        &_part_twoMobile {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &Rowstyle {
            flex-direction: column;
        }
    }
    .blog {
        grid-template-rows: 250px 80vw;
        &Row {
            width: 55vw;
            height: 66vw;
            &__partLeft {
                width: 55vw;
                height: 33vw;
            }
            &__partRight {
                width: 55vw;
                height: 33vw;
            }
            &__category, &__likes, &__comments, &__author {
                width: 8vw;
            }
            &__statistics {
                width: 45vw;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .blog {
        grid-template-rows: 250px 114vw;
        &Row {
            width: 70vw;
            height: 100vw;
            &__partLeft {
                width: 70vw;
                height: 40vw;
            }
            &__partRight {
                width: 70vw;
                height: 60vw;
            }
            &__category, &__likes, &__comments, &__author {
                width: 25vw;
                margin-bottom: 1vw;
            }
            &__statistics {
                width: 70vw;
                @include position_part();
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }
}
@media screen and (min-width: 630px) and (max-width: 767px) {
    .blog {
        grid-template-rows: 250px 89vw;
        &Row {
            height: 75vw;
            &__partLeft {
                height: 40vw;
            }
            &__partRight {
                height: 35vw;
            }
            &__category, &__likes, &__comments, &__author {
                margin-bottom: 1vw;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .blog {
        grid-template-rows: 250px 164vw;
        &Row {
            width: 85vw;
            height: 150vw;
            &__partLeft {
                width: 85vw;
                height: 50vw;
            }
            &__partRight {
                width: 85vw;
                height: 100vw;
            }
        }
    }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
    .blog {
        grid-template-rows: 250px 134vw;
        &Row {
            height: 120vw;
            &__partLeft {
                height: 50vw;
            }
            &__partRight {
                height: 70vw;
            }
            &__category, &__likes, &__comments, &__author {
                margin-bottom: 1vw;
            }
        }
    }
}

// style for map

.map {
    @include size (100%, 800px, #fff);
    #map {
        width: 100%;
        height: 800px;
        iframe {
            width: 100%;
            height: 800px;
        }
    }
}

// MOBILE style for map

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .map {
        @include size (100%, 500px, #fff);
        #map {
            width: 100%;
            height: 500px;
            iframe {
                width: 100%;
                height: 500px;
            }
        }
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .map {
        @include size (100%, 400px, #fff);
        #map {
            width: 100%;
            height: 400px;
            iframe {
                width: 100%;
                height: 400px;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
}

// style for get in touch

.getINtouch {
    @include size(100%, 1000px, #2c3e50);
    font-family: Montserrat;
    display: grid;
    grid-template-rows: 250px 530px 220px;
    .textABOUTpart {
        @include font(0.9rem, #879cb0, 400);
    }
    &_part_one {
        @include position_part();
        flex-direction: column;
    }
    &_part_two {
        display: flex;
        justify-content: center;
    }
    &_part_three {
        display: flex;
        justify-content: center;
    }
}
.getINtouch {
    form {
        display: grid;
        grid-template-rows: 70px 70px 320px 70px;
    }
    .string {
        @include position_part();
    }
}
.getINtouch {
    input {
        @include size(28vw, 50px, #2c3e50);
        box-sizing: border-box;
        border: 4px solid #fff;
        padding-left: 60px;
        @include font(0.85rem, #879cb0, 400);
        font-family: 'Open+Sans';
    }
    textarea {
        @include size(58vw, 300px, #2c3e50);
        box-sizing: border-box;
        border: 4px solid #fff;
        padding: 30px 30px 0;
        @include font(0.85rem, #879cb0, 400);
        font-family: 'Open+Sans';
        letter-spacing: 0.5px;
    }
    button {
        @include size(58vw, 50px, #f70135);
        @include font(0.8rem, #fff, 600);
        border: none;
    }
    input::placeholder {
        @include font(0.75rem, #879cb0, 400);
        font-family: 'Open+Sans';
    }
}
.getINtouch {
    &_part_col {
        display: grid;
        grid-template-rows: 75px 25px 120px;
        width: 10vw;
    }
    &_picrure_part, &_name_part {
        @include position_part();
        @include font(0.7rem, #ffce45, 500);
    }
    &_text_part {
        @include position_part();
        align-items: flex-start;
        @include font(0.75rem, #fff, 400);
        font-family: 'Open+Sans';
        text-align: center;
        line-height: 1.2rem;
    }
    &_part_col__margin {
        margin-right: 2vw;
    }
}
.getINtouch {    
    .error {
        border-color: red;
    } 
}

// MOBILE style for get in touch

@media screen and (min-width: 1024px) and (max-width: 1300px) {
       .getINtouch {
        input {
            @include size(34vw, 50px, #2c3e50);
        }
        textarea {
            @include size(70vw, 300px, #2c3e50);
        }
        button {
            @include size(70vw, 50px, #f70135);
        }
    }
    .getINtouch {
        &_part_col {
            width: 12vw;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .getINtouch {
     input {
         @include size(40vw, 50px, #2c3e50);
     }
     textarea {
         @include size(82vw, 300px, #2c3e50);
     }
     button {
         @include size(82vw, 50px, #f70135);
     }
 }
 .getINtouch {
     &_part_col {
         width: 16vw;
     }
 }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .getINtouch {
        height: 1170px;
        grid-template-rows: 250px 570px 350px;
        .string {
            flex-direction: column;
            justify-content: space-around;
        }
    }
    .getINtouch {
        input {
            @include size(70vw, 50px, #2c3e50);
        }
        textarea {
            @include size(70vw, 200px, #2c3e50);
        }
        button {
            @include size(70vw, 50px, #f70135);
        }
    }
    .getINtouch {
        form {
            grid-template-rows: 140px 140px 220px 70px;
        }
    }
    .getINtouch {
        &_part_three {
            flex-wrap: wrap;
            align-items: center;
        }
        &_part_col {
            width: 26vw;
            margin: 0 2vw;
            grid-template-rows: 75px 25px 90px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .getINtouch {
        height: 1100px;
        grid-template-rows: 250px 570px 280px;
    }
    .getINtouch {
        input {
            @include size(85vw, 50px, #2c3e50);
        }
        textarea {
            @include size(85vw, 200px, #2c3e50);
        }
        button {
            @include size(85vw, 50px, #f70135);
        }
    }
    .getINtouch {
        form {
            grid-template-rows: 140px 140px 220px 70px;
        }
    }
    .getINtouch {
        &_picrure_part {
            display: none;  
        }
        &_part_three {
            flex-wrap: wrap;
            align-items: center;
        }
        &_part_col {
            width: 40vw;
            margin: 0 2vw;
            grid-template-rows: 25px 25px;
        }
        &_part_colMobile {
            grid-template-rows: 25px 90px;
        }
    }
}

// style for footer

.footer {
    width: 100%;
    @include size(100%, 235px, #f70135);
    @include font(0.8rem, #fff, 600);
    font-family: Montserrat;
    display: grid;
    grid-template-rows: 165px 70px;
    .media {
        @include position_part();
    }
    .copyright {
        background-color: #ffce45;
        @include position_part();
    }
}
.footer {
    img:not([alt=instagram]) {
        padding-right: 40px;
    }
    span {
        color: #601f13;
    }
}

// MOBILE style for footer

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        .copyright {
            line-height: 1.2rem;
            padding: 0 10vw;
            box-sizing: border-box;
            text-align: center;
        }
        .media {
            justify-content: space-around;
        }
        img:not([alt=instagram]) {
            width: 100%;
            padding-right: 0;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .footer {
        height: 170px;
        grid-template-rows: 100px 70px;
        .copyright {
            line-height: 1rem;
        }
        .media {
            padding: 15px;
            box-sizing: border-box;
            justify-content: space-around;
        }
        img:not([alt=instagram]) {
            width: 80%;
            padding-right: 0;
        }
    }
}
