mixin offenPart(name, nameSpan)
    .nameOFpart= name 
        span= nameSpan
    .textABOUTpart 
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    | sed do eiusmod tempor incididunt ut labore et dolore 
                    | magna aliqua ut enim ad minim veniam.

mixin headerMenu(titleMenu)
    a(href="" title="menu")= titleMenu

mixin aboutCol(imagename, divName)
    .picture_part
    .name_part= divName
    .text_part  Excepteur sint occaecat cupidatat non proident sunt in culpa qui.

mixin rocket(titlePartRocket, categoryPartRocket)
    .rocketRowOne
        .titlePartRocket= titlePartRocket
        .categoryPartRocket= categoryPartRocket
        .textPartRocket
                        | Architecto beatae vitae dicta sunt explicabo. Nemo enim 
                        | ipsam voluptatem quia voluptas sit aspernatur aut odit 
                        | aut fugit, sed quia consequuntur magni dolores eos qui 
                        | ratione voluptatem sequi nesciunt. Neque porro quisquam 
                        | est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                        | adipisci velit.
        .buttonPartRocket
            button(type="button") READ MORE
    .rocketRowTwo
        .rocketPicture
    .rocketRowThree
        .rocketCircle
            .rocketFoto
mixin rocketMobile(titlePartRocket, categoryPartRocket)
    .rocketRowOne
        .titlePartRocket= titlePartRocket
        .categoryPartRocket= categoryPartRocket
        .textPartRocket
                        | Architecto beatae vitae dicta sunt explicabo. Nemo enim 
                        | ipsam voluptatem quia voluptas sit aspernatur aut odit 
                        | aut fugit, sed quia consequuntur magni dolores eos qui 
                        | ratione voluptatem sequi nesciunt. Neque porro quisquam 
                        | est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                        | adipisci velit.
        .buttonPartRocket
            button(type="button") READ MORE

mixin work(number, titleOfWork)
    .number= number
    .titleOfWork= titleOfWork
    .workPicture
    .textWork
                | Lorem ipsum dolor sit amet, consectetur adip iscing elit, 
                | sed do eiusmod tempor incididunt ut labore et dolore magna 
                | aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                | ulla mco laboris nisi ut aliquip ex ea commodo 

mixin fact_col(divNamefour, divTextfour, imagenamefour)
    .fact_name_part= divNamefour
    .fact_text_part= divTextfour
    .fact_picrure_part

mixin people(surname)
    .people__partFoto
    .people__partAbout
        .people__author= surname
        .people__category CEO &amp; Co-Founder
        .people__text
                        | Lorem ipsum dolor sit amet con sectetur adipiscing 
                        | elit sed do eius mod tempor incididunt ut labore 
                        | et dolore magna aliqua ut enim ad minim veniam.
        .people__link
            .twitterLogo
            .facebookLogo
            .googleLogo
            .pinterestLogo
            .linkedinLogo
            .dribbbleLogo
            .behanceLogo


mixin project(projectname)
    button(type="button" id=projectname)= projectname
mixin projectMobile(projectname)
    button(type="button" id=projectname class="button_part_twoJS")= projectname
mixin projectMobileMedium(projectname)
    button(type="button" id=projectname class="button_part_twoJSMedium")= projectname
    
mixin getINtouch(imagenamethree, divNamethree, divTextthree)
    .getINtouch_picrure_part
        img(src=`./assets/img/${imagenamethree}.svg` alt=`${imagenamethree}`)
    .getINtouch_name_part= divNamethree
    .getINtouch_text_part= divTextthree

mixin blog(comments)
    .blogRow
        .blogRow__partLeft
        .blogRow__partRight
            .blogRow__date 24/12/2014
            .blogRow__title Sed ut perspiciatis unde omnis iste natus
            .blogRow__text
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna 
                                        | aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                                        | ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                        | numquam. eius modi tempora incidunt ut labore et dolore 
                                        | magnam aliquam quaerat voluptatem. 
            .blogRow__statistics
                .blogRow__author John Doe
                .blogRow__category Website Design
                .blogRow__likes 124 Likes
                .blogRow__comments= comments
mixin blogMobile(comments)
    .blogRow.blogRowstyle.blogRowMobile
        .blogRow__partLeft
        .blogRow__partRight
            .blogRow__date 24/12/2014
            .blogRow__title Sed ut perspiciatis unde omnis iste natus
            .blogRow__text
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna 
                                        | aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                                        | ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                        | numquam. eius modi tempora incidunt ut labore et dolore 
                                        | magnam aliquam quaerat voluptatem. 
            .blogRow__statistics
                .blogRow__author John Doe
                .blogRow__category Website Design
                .blogRow__likes 124 Likes
                .blogRow__comments= comments               

mixin footerMedia(imagenametwo)
    a(href=`http://www.${imagenametwo}.com/` title=`${imagenametwo}` target="_blank")
        img(src=`./assets/img/${imagenametwo}.svg` alt=`${imagenametwo}`)

doctype html
html
    head
        meta(charset="utf-8")
        title CREATIVE
        link(rel="stylesheet" href="./styles/style.css")
        meta(name="viewport" content="width=device-width")
    body
        .header
            .header_part_one
                .header_menuLeft
                    .headerMenu
                        +headerMenu("HELLO")
                    .headerMenu
                        +headerMenu("ABOUT")
                    .headerMenu
                        +headerMenu("SERVICES")
                    .headerMenu
                        +headerMenu("WORKS")
                    .headerMenu
                        +headerMenu("PRISING")
                .header_menuCenter
                .header_menuRight
                    .headerMenu
                        +headerMenu("FACTS")
                    .headerMenu
                        +headerMenu("CLIENTS")
                    .headerMenu
                        +headerMenu("WORDS")
                    .headerMenu
                        +headerMenu("BLOG")
                    .headerMenu
                        +headerMenu("CONTACT")
            .header_part_one_mobile
                .header_menuCenterMobile
                a(class="prev" onclick="plusSlides(-1)") &#10094;
                .headerMenuMobile
                    +headerMenu("HELLO")
                .headerMenuMobile
                    +headerMenu("ABOUT")
                .headerMenuMobile
                    +headerMenu("SERVICES")
                .headerMenuMobile
                    +headerMenu("WORKS")
                .headerMenuMobile
                    +headerMenu("PRISING")
                .headerMenuMobile
                    +headerMenu("FACTS")
                .headerMenuMobile
                    +headerMenu("CLIENTS")
                .headerMenuMobile
                    +headerMenu("WORDS")
                .headerMenuMobile
                    +headerMenu("BLOG")
                .headerMenuMobile
                    +headerMenu("CONTACT")
                a(class="next" onclick="plusSlides(1)") &#10095;
                .header_menuCenterMobile.header_menuCenterMobile_Display
            .header_part_two
                img(src="assets/img/headerPeopleLeft.png" alt="picture")
                .title 
                    .titleOne WELCOME TO coco STUDIO
                    .titleTwo We &#10084; design &amp; develope website &amp; app
                    a(href="#yak")
                        .goToEnd GO
                img(src="assets/img/headerPeopleLeft.png" alt="picture")
        .about
            .about_part_one
                .one_one We are creative people with <span> 5 years experiences </span> in web  and mobile app development.
                .one_two Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempori.
            .about_part_two
                .about_part_col.about_part_col_one.about_part_col__margin.about_part_colJS
                    +aboutCol("one", "Many Variations")
                .about_part_col.about_part_col_two.about_part_col__margin.about_part_colJS
                    +aboutCol("two", 'On Time')
                .about_part_col.about_part_col_three.about_part_col__margin.about_part_colJS
                    +aboutCol("three", "Unlimited Revisions")
                .about_part_col.about_part_col_four.about_part_col__margin.about_part_colJS
                    +aboutCol("four", "Retina Ready")
                .about_part_col.about_part_col_five.about_part_colJS
                    +aboutCol("five", "Full Suppport")
            .about_part_twoMobileMedium
                a(class="prevMedium" onclick="plusSlidesAboutMedium(-1)") &#10094;
                .about_part_col.about_part_col_one.about_part_col__margin.about_part_colMobileMedium
                    +aboutCol("one", "Many Variations")
                .about_part_col.about_part_col_two.about_part_col__margin.about_part_colMobileMedium
                    +aboutCol("two", 'On Time')
                .about_part_col.about_part_col_three.about_part_col__margin.about_part_colMobileMedium
                    +aboutCol("three", "Unlimited Revisions")
                .about_part_col.about_part_col_four.about_part_col__margin.about_part_colMobileMedium
                    +aboutCol("four", "Retina Ready")
                .about_part_col.about_part_col_five.about_part_colMobileMedium
                    +aboutCol("five", "Full Suppport")
                a(class="nextMedium" onclick="plusSlidesAboutMedium(1)") &#10095;
            .about_part_twoMobile
                a(class="prev" onclick="plusSlidesAbout(-1)") &#10094;
                .about_part_col.about_part_col_one.about_part_col__margin.about_part_colMobile
                    +aboutCol("one", "Many Variations")
                .about_part_col.about_part_col_two.about_part_col__margin.about_part_colMobile
                    +aboutCol("two", 'On Time')
                .about_part_col.about_part_col_three.about_part_col__margin.about_part_colMobile
                    +aboutCol("three", "Unlimited Revisions")
                .about_part_col.about_part_col_four.about_part_col__margin.about_part_colMobile
                    +aboutCol("four", "Retina Ready")
                .about_part_col.about_part_col_five.about_part_colMobile
                    +aboutCol("five", "Full Suppport")
                a(class="next" onclick="plusSlidesAbout(1)") &#10095;

        .rocket
            .rocket_part_one
                +offenPart("WHAT ", "WE DO")
            .rocket_part_two
                .rocketStart
                .rocketYellowPointsMini
                .rocketRow.rocketRow_BgYellow
                    +rocket("WEBSITE DEVELOPMENT", "We Develop HTML, Joomla, Wordpress, E-Commerce, and Magento Website.")
                .rocketYellowPoints
                .rocketRow.rocketRow_BgBlue
                    +rocket("WEBSITE DESIGN", "We Design Landing Page, CMS Website, User Interface, and Animation.")
                .rocketYellowPoints.rocketYellowPointsRotate
                .rocketRow.rocketRow_BgGreen
                    +rocket("GRAPHIC DESIGN", "We Make Awesome Graphic Design from Skratch.")
                .rocketYellowPointsEnd
                .rocketEnd
            .rocket_part_twoMobile
                a(class="prev" onclick="plusSlidesRocket(-1)") &#10094;
                .rocketRow.rocketRow_BgYellow.rocketRowMobile
                    +rocketMobile("WEBSITE DEVELOPMENT", "We Develop HTML, Joomla, Wordpress, E-Commerce, and Magento Website.")
                .rocketRow.rocketRow_BgBlue.rocketRowMobile
                    +rocketMobile("WEBSITE DESIGN", "We Design Landing Page, CMS Website, User Interface, and Animation.")
                .rocketRow.rocketRow_BgGreen.rocketRowMobile
                    +rocketMobile("GRAPHIC DESIGN", "We Make Awesome Graphic Design from Skratch.")
                a(class="next" onclick="plusSlidesRocket(1)") &#10095;
            .rocket_part_three
                .rocketBrowser.rocketBrowserOne
                .rocketBrowser.rocketBrowserTwo
                .rocketBrowser.rocketBrowserThree
        .work
            .work_part_one
                +offenPart("HOW ", "WE WORK")
            .work_part_two
                .workRow.workRowOne.workDirection
                    +work("01", "Sketching")
                .workRow.workRowTwo.work__Animaton.workDirection
                    +work("02", "Designing")
                .workRow.workRowThree.workDirection
                    +work("03", "Coding")
                .workRow.workRowFour.work__Animaton.workDirection
                    +work("04", "Testing")
                .workRow.workRowFive.workDirection
                    +work("05", "Sending")
            .work_part_twoMobile
                a(class="prev" onclick="plusSlidesWork(-1)") &#10094;
                .workRow.workRowOne.workRowMobile
                    +work("01", "Sketching")
                .workRow.workRowTwo.work__Animaton.workRowMobile
                    +work("02", "Designing")
                .workRow.workRowThree.workRowMobile
                    +work("03", "Coding")
                .workRow.workRowFour.work__Animaton.workRowMobile
                    +work("04", "Testing")
                .workRow.workRowFive.workRowMobile
                    +work("05", "Sending")
                a(class="next" onclick="plusSlidesWork(1)") &#10095;
        .fact
            .fact_part_one
                +offenPart("FANTASTIC ", "FACTS")
            .fact_part_two
                .fact__col.fact__col_red.fact__col_JS
                    +fact_col("98M", "LINES OF CODE", "mac")
                .fact__col.fact__col_dark-blue.fact__col_JS
                    +fact_col("157", "WORLDWIDE CLIENTS", "tie")
                .fact__col.fact__col_green.fact__col_JS
                    +fact_col("350", "COMPLETED PROJECTS", "case")
                .fact__col.fact__col_blue.fact__col_JS
                    +fact_col("125", "WINNING AWARDS", "trophy")
                .fact__col.fact__col_violet.fact__col_JS
                    +fact_col("570", "CUPS OF COFFEE", "tea")
            .fact_part_twoMobileMedium
                a(class="prevMedium" onclick="plusSlidesFactMedium(-1)") &#10094;
                .fact__col.fact__col_red.fact__col_mobileMedium
                    +fact_col("98M", "LINES OF CODE", "mac")
                .fact__col.fact__col_dark-blue.fact__col_mobileMedium
                    +fact_col("157", "WORLDWIDE CLIENTS", "tie")
                .fact__col.fact__col_green.fact__col_mobileMedium
                    +fact_col("350", "COMPLETED PROJECTS", "case")
                .fact__col.fact__col_blue.fact__col_mobileMedium
                    +fact_col("125", "WINNING AWARDS", "trophy")
                .fact__col.fact__col_violet.fact__col_mobileMedium
                    +fact_col("570", "CUPS OF COFFEE", "tea")
                a(class="nextMedium" onclick="plusSlidesFactMedium(1)") &#10095;
            .fact_part_twoMobile
                a(class="prev" onclick="plusSlidesMini(-1, \"fact__col_mobile\", \"grid\")") &#10094;
                .fact__col.fact__col_red.fact__col_mobile
                    +fact_col("98M", "LINES OF CODE", "mac")
                .fact__col.fact__col_dark-blue.fact__col_mobile
                    +fact_col("157", "WORLDWIDE CLIENTS", "tie")
                .fact__col.fact__col_green.fact__col_mobile
                    +fact_col("350", "COMPLETED PROJECTS", "case")
                .fact__col.fact__col_blue.fact__col_mobile
                    +fact_col("125", "WINNING AWARDS", "trophy")
                .fact__col.fact__col_violet.fact__col_mobile
                    +fact_col("570", "CUPS OF COFFEE", "tea")
                a(class="next" onclick="plusSlidesFact(1)") &#10095;
        .people
            .people_part_one
                +offenPart("TALANTED ", "PEOPLE")
            .people_part_two
                .people_column_one
                    .people__all
                        +people("Armand Doe")
                    .people__all
                        +people("Armand Doe")
                    .people__all
                        +people("Jennifer Doe")
                    .people__all
                        +people("Sunarko Doe")
                .people_column_two
                    .people__clother
                    .people__line
                        .people__circle.people__circle_marginOne
                        .people__circle.people__circle_marginTwo
                        .people__circle.people__circle_marginThree
                        .people__circle.people__circle_marginTwo
                        .people__circle.people__circle_marginThree
                        .people__circle.people__circle_marginTwo
                        .people__circle.people__circle_marginThree
                        .people__circle.people__circle_marginTwo
                .people_column_three
                    .people__all
                        +people("David Doe")
                    .people__all
                        +people("Priya Doe")
                    .people__all
                        +people("Erwin Doe")
                    .people__all
                        +people("Erwin Doe")
                .people_column_three.people_column_threeMobile
                    a(class="prev" onclick="plusSlidesPeople(-1)") &#10094;
                    .people__all.people__allMobile
                        +people("David Doe")
                    .people__all.people__allMobile
                        +people("Priya Doe")
                    .people__all.people__allMobile
                        +people("Erwin Doe")
                    .people__all.people__allMobile
                        +people("Erwin Doe")
                    .people__all.people__allMobile
                        +people("Armand Doe")
                    .people__all.people__allMobile
                        +people("Armand Doe")
                    .people__all.people__allMobile
                        +people("Jennifer Doe")
                    .people__all.people__allMobile
                        +people("Sunarko Doe")
                    a(class="next" onclick="plusSlidesPeople(1)") &#10095;
            .people_part_three
                .people_button
                    button(type="button") MORE PEOPLE
        .featuredProject
            .featuredProject_part_one
                +offenPart("AWESOME ", "WORKS")
            .featuredProject_part_two
                .featuredProject_part_two__margin_right
                    +project("ALL WORKS")
                .featuredProject_part_two__margin_right
                    +project("HTML")
                .featuredProject_part_two__margin_right
                    +project("JOOMLA")
                .featuredProject_part_two__margin_right
                    +project("WORDPRESS")
                .featuredProject_part_two__margin_right
                    +project("OPENCART")
                .featuredProject_part_two__margin_right
                    +project("LOGO")
                .featuredProject_part_two__margin_none
                    +project("PRINT")
            .featuredProject_part_twoMobileMedium
                a(class="prevMedium" onclick="plusButtonProjectMedium(-1)") &#10094;
                +projectMobileMedium("ALL WORKS")
                +projectMobileMedium("HTML")
                +projectMobileMedium("JOOMLA")
                +projectMobileMedium("WORDPRESS")
                +projectMobileMedium("OPENCART")
                +projectMobileMedium("LOGO")
                +projectMobileMedium("PRINT")
                a(class="nextMedium" onclick="plusButtonProjectMedium(1)") &#10095;
            .featuredProject_part_twoMobile
                a(class="prev" onclick="plusButtonProject(-1)") &#10094;
                +projectMobile("ALL WORKS")
                +projectMobile("HTML")
                +projectMobile("JOOMLA")
                +projectMobile("WORDPRESS")
                +projectMobile("OPENCART")
                +projectMobile("LOGO")
                +projectMobile("PRINT")
                a(class="next" onclick="plusButtonProject(1)") &#10095;
            .featuredProject_part_three
                .featuredProject_part_three_RowOne
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                .featuredProject_part_three_RowOne
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                .featuredProject_part_three_RowOne.featuredProject_loadMore
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                .featuredProject_part_three_RowOne.featuredProject_loadMore
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
                    .picturefeaturedProject
            .featuredProject_part_threeMobileMedium
                a(class="prevMedium" onclick="plusProjectPictureMedium(-1)") &#10094;
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                .picturefeaturedProject.picturefeaturedProjectMobileMedium
                a(class="nextMedium" onclick="plusProjectPictureMedium(1)") &#10095;    
            .featuredProject_part_threeMobile
                a(class="prev" onclick="plusProjectPicture(-1)") &#10094;
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                .picturefeaturedProject.picturefeaturedProjectMobile
                a(class="next" onclick="plusProjectPicture(1)") &#10095; 
            .featuredProject_part_four
                button(type="button" onclick="plusRows()" class="loadmore") LOAD MORE
                button(type="button" onclick="plusRowsTwo()" class="loadmore buttonHidden") LOAD MORE
                button(type="button" onclick="deleteMoreProjects()" class="loadmore buttonHidden") HIDDEN
                button(type="button" onclick="deleteMoreProjectsTwo()" class="loadmore buttonHidden") HIDDEN
        .blog
            .blog_part_one
                +offenPart("BLOG ", "POST")
            .blog_part_two
                +blog("90 Comments")
                +blog("100 Comments")
                +blog("110 Comments")
            .blog_part_twoMobile
                a(class="prev" onclick="plusSlidesBlog(-1)") &#10094;
                +blogMobile("90 Comments")
                +blogMobile("190 Comments")
                +blogMobile("290 Comments")
                a(class="next" onclick="plusSlidesBlog(1)") &#10095; 
        .price
            .price_part_one
                +offenPart("PROMOTION ", "PRICE")
            .price_part_two
                .fullColumn
                    .fullColumn__top.fullColumn__top_bgColorYellow
                        .fullColumn__priceTitle Website Development
                        .fullColumn__priceCoast Starting From 
                            .fullColumn__Number &#36; <span>99</span>
                        .fullColumn__aboutPrice Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .fullColumn__down
                        .fullColumn__features FEATURES
                        .fullColumn__priceInclude
                                                        | 10 Pages Website Design <br>
                                                        | Joomla &amp; Wordpress Ready <br>
                                                        | 3 Alternative Designs <br>
                                                        | Free 1 Year Domain <br>
                                                        | 10 GB Free Hosting <br>
                                                        | Unlimited Revision <br>
                                                        | 3 Months Support
                        .fullColumn__button.fullColumn__button_bgColorYellow
                            button ORDER NOW
                .fullColumn.fullColumn_margin
                    .fullColumn__top.fullColumn__top_bgColorDarkblue
                        .fullColumn__priceTitle Website Development
                        .fullColumn__priceCoast Starting From 
                            .fullColumn__Number &#36; <span>79</span>
                        .fullColumn__aboutPrice Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .fullColumn__down
                        .fullColumn__features FEATURES
                        .fullColumn__priceInclude
                                                        | 10 Pages Website Design <br>
                                                        | Fully Layered &amp; Organized Well <br>
                                                        | 3 Alternative Designs <br>
                                                        | Free 1 Year Domain <br>
                                                        | 10 GB Free Hosting <br>
                                                        | Unlimited Revision <br>
                                                        | 3 Months Support
                        .fullColumn__button.fullColumn__button_bgColorDarkblue
                            button ORDER NOW
                .fullColumn
                    .fullColumn__top.fullColumn__top_bgColorGreen
                        .fullColumn__priceTitle Website Development
                        .fullColumn__priceCoast Starting From 
                            .fullColumn__Number &#36; <span>29</span>
                        .fullColumn__aboutPrice Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .fullColumn__down
                        .fullColumn__features FEATURES
                        .fullColumn__priceInclude
                                                        | 300 DPI High Resolution <br>
                                                        | Print Ready <br>
                                                        | PSD &amp; AI Format <br>
                                                        | Free 1 Year Domain <br>
                                                        | 10 GB Free Hosting <br>
                                                        | Unlimited Revision <br>
                                                        | 3 Months Support
                        .fullColumn__button.fullColumn__button_bgColorGreen
                            button ORDER NOW
            .price_part_twoMedium
                a(class="prev" onclick="plusSlidesPrice(-1)") &#10094;
                .fullColumn.fullColumnMedium
                    .fullColumn__top.fullColumn__top_bgColorYellow
                        .fullColumn__priceTitle Website Development
                        .fullColumn__priceCoast Starting From 
                            .fullColumn__Number &#36; <span>99</span>
                        .fullColumn__aboutPrice Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .fullColumn__down
                        .fullColumn__features FEATURES
                        .fullColumn__priceInclude
                                                        | 10 Pages Website Design <br>
                                                        | Joomla &amp; Wordpress Ready <br>
                                                        | 3 Alternative Designs <br>
                                                        | Free 1 Year Domain <br>
                                                        | 10 GB Free Hosting <br>
                                                        | Unlimited Revision <br>
                                                        | 3 Months Support
                        .fullColumn__button.fullColumn__button_bgColorYellow
                            button ORDER NOW
                .fullColumn.fullColumn_margin.fullColumnMedium
                    .fullColumn__top.fullColumn__top_bgColorDarkblue
                        .fullColumn__priceTitle Website Development
                        .fullColumn__priceCoast Starting From 
                            .fullColumn__Number &#36; <span>79</span>
                        .fullColumn__aboutPrice Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .fullColumn__down
                        .fullColumn__features FEATURES
                        .fullColumn__priceInclude
                                                        | 10 Pages Website Design <br>
                                                        | Fully Layered &amp; Organized Well <br>
                                                        | 3 Alternative Designs <br>
                                                        | Free 1 Year Domain <br>
                                                        | 10 GB Free Hosting <br>
                                                        | Unlimited Revision <br>
                                                        | 3 Months Support
                        .fullColumn__button.fullColumn__button_bgColorDarkblue
                            button ORDER NOW
                .fullColumn.fullColumnMedium
                    .fullColumn__top.fullColumn__top_bgColorGreen
                        .fullColumn__priceTitle Website Development
                        .fullColumn__priceCoast Starting From 
                            .fullColumn__Number &#36; <span>29</span>
                        .fullColumn__aboutPrice Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .fullColumn__down
                        .fullColumn__features FEATURES
                        .fullColumn__priceInclude
                                                        | 300 DPI High Resolution <br>
                                                        | Print Ready <br>
                                                        | PSD &amp; AI Format <br>
                                                        | Free 1 Year Domain <br>
                                                        | 10 GB Free Hosting <br>
                                                        | Unlimited Revision <br>
                                                        | 3 Months Support
                        .fullColumn__button.fullColumn__button_bgColorGreen
                            button ORDER NOW
                a(class="next" onclick="plusSlidesPrice(1)") &#10095; 
            
        .map
            #map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.525723990428!2d27.607650215858985!3d53.88685918009588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbce3bdef291a9%3A0xf84859c9fada1d6b!2z0YPQuy4g0J7Qu9C10LPQsCDQmtC-0YjQtdCy0L7Qs9C-IDUsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1560336125366!5m2!1sru!2sby" frameborder="0" style="border:0" allowfullscreen)
        .getINtouch#yak
            .getINtouch_part_one
                +offenPart("GET IN ", "TOUCH")
            .getINtouch_part_two
                form(name="contact" id="formOne")
                    .string
                        input.getINtouch_part_col__margin(type="text" placeholder="Full Name" name="FullName")
                        input(type="email" placeholder="Email" name="Email")
                    .string
                        input.getINtouch_part_col__margin(type="text" placeholder="Website" name="WebSite")
                        input(type="text" placeholder="7+8" name="Code")
                    .string
                        textarea(name="message")
                    .string
                        button(type="button" id="send" onclick="sss()") SEND NOW
            .getINtouch_part_three
                .getINtouch_part_col.getINtouch_part_col__margin
                    +getINtouch("email", "INFO", "info@cocostudio.com")
                .getINtouch_part_col.getINtouch_part_col__margin
                    +getINtouch("email", "SALES", "sales@cocostudio.com")
                .getINtouch_part_col.getINtouch_part_col__margin.getINtouch_part_colMobile
                    +getINtouch("location", "ADDRESS", "Bukir Gadingrejo 123 Pasuruan Indonesia 654321")
                .getINtouch_part_col.getINtouch_part_col__margin
                    +getINtouch("mobile", "PHONE", "+62-0343-1234567")
                .getINtouch_part_col
                    +getINtouch("website", "WEBSITE", "www.cocostudio.com")
        .footer
            .media
                +footerMedia("twitter")
                +footerMedia("facebook")
                +footerMedia("google")
                +footerMedia("pinterest")
                +footerMedia("linkedin")
                +footerMedia("dribbble")
                +footerMedia("instagram")
            .copyright 
                .copyText &copy; 2014 <span> COCOSTUDIO </span> . ALL RIGHT RESERVED. DESIGNED BY <span> MYBOODESIGN.COM </span>
        script(src="js/index.js")